In [130]:
n=7
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

In [166]:
car={"brand":"ford","model":"mustang","year":"1964"}
print(list(car)[0])

brand

In [1]:
#number pattern
n=int(input("enter the number"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter the number6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [7]:
n=int(input("enter the number"))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

enter the number6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [12]:
n=int(input("enter the number"))
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

enter the number6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [26]:
n=int(input("enter the number"))
for i in range(n):
    for j in range(i+1):
        print(n-i,end=" ")
    print()

enter the number5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [28]:
n=int(input("enter the number"))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

enter the number7
7
7 6
7 6 5
7 6 5 4
7 6 5 4 3
7 6 5 4 3 2
7 6 5 4 3 2 1

In [42]:
#reverse the number
n=int(input("enter the number"))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

enter the number5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [43]:
n=int(input("enter the number"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(n-j,end=" ")
    print()

enter the number5
        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [160]:
n=int(input("enter the number"))
for i in range(n-1):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print(n-i,end=" ")
    print()
for i in range(n): 
    for j in range(n):
        print(" ",end=" ")
    for j in range(n-1-1):
        print(j+1,end=" ")
    print()

enter the number5
  5 5 5 5 5
    4 4 4 4
      3 3 3
        2 2
          1 2 3
          1 2 3
          1 2 3
          1 2 3
          1 2 3

In [157]:
n=int(input("enter the number"))
for i in range(n-1):
    for i in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

enter the number4
*
* *
* * *
* * * *
* * *
* *
*

# star pattern

In [134]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [135]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [136]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [168]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for  j in range(i+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [172]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for  j in range(i,n):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [180]:
n=4
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for  j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end=" ")
    for  j in range(i,n):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
  * * *
   * *
    *

In [186]:
n=5
for i in range(n):
    for j in range(i+1):
        print("",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [188]:
#lcm
def cal_lcm(x,y):
    if x>y:
        greater=x
    else:
        greater=y
    while(True):
        if(greater%x==0) and (greater%y==0):
            lcm=greater
            break
        greater=greater+1
    return lcm
cal_lcm(4,20)

20

In [196]:
#hcf
num1=4
num2=20
i=1
if num1>num2:
    greater=num2
else:
    greater=num1
for i in range(1,greater+1):
    if (num1%i==0) and (num2%i==0):
        hcf=i
    print(hcf)

1
2
2
4

In [194]:
num1=int(input("enter the number"))
num2=int(input("enter the number"))
i=1
if num1>num2:
    greater=num2
else:
    greater=num1
for i in range(1,greater+1):
    if (num1%i==0) and (num2%i==0):
        hcf=i
print(hcf)

enter the number4
enter the number20
4

In [200]:
#factorial
i=5
f=1
while(i>0):
    f=f*i
    i=i-1
    print(f)

5
20
60
120
120

In [210]:
x=int(input("enter the number"))
while(x>=1):
    if x%2==0:
        print("not a prime number")
    else:
        print("it is a prime number")
    break

enter the number4
not a prime number

In [219]:
#reverse number
i=int(input("enter the number"))
rev=0
x=i
while(i>0):
    rev=(rev*10)+i%10
    i=i//10
if (x==rev):
    print("palindrome")
else:
    print("not palindrome")

enter the number4321
not palindrome